<div class="share">
    {% if active_facebook == '1' %}
        <a href="{{ url_facebook }}" target="_blank" class="facebook">Compartir</a>
    {% endif %}
    {% if active_twitter == '1' %}
        <a href="{{ url_twitter }}" target="_blank" class="twetter">Tweet</a>
    {% endif %}
</div>