/.vs
*.DS_Store
.idea
settings.local.php
web/sites/*/settings.php
web/sites/*/files/*
web/sites/*/services.yml
web/default/default.settings.php
web/default/default.services.yml
web/default/settings.php
web/sites/*/settings.base.php
web/default/files/*
web/sites/default/services.local.yml
web/sites/sites.php
*.map
console/cache/*
readme.txt
README.txt
.vscode
.ddev/
web/sites/default/settings.base.php

web/sites/*/themes/custom/*/package*.json
web/sites/*/themes/custom/*/package.json
web/sites/*/themes/custom/*/node_modules/*
web/sites/*/themes/*/package*.json
.history

### Temporal in linux ###
*~
*.vim
*.swp
*.swo
*.out
node_modules/
*/node_modules/
.ddev/

bower_components/
*/bower_components/

.gitignore
